body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  color: #8F8F8F;
  font-size: 1.3rem;
}

a:hover
{
    text-decoration:none;
    color:inherit;
}

/* Headings Section */

.big-heading {
  color: #222831;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 50px;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  padding: 2%;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #faf4f4;
  color: #222831;
}

.white-section {
  background-color: white;
  color: black;
}

/* Title & Navigation Bar */

.title-position {
  width: 100%;
  text-align: center;
}

.title-style {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: lighter;
  color: #222831;
}

.navbar {
  padding: auto 0;
}

.nav-item {
  padding: 0 50px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Title Section */

#title {
  text-align: center;
}

.slogan {
  margin: auto;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

  #title {
    text-align: center;
  }
}

/* Features Section */

#features {
  position: relative;
}

.feature-three {
  padding: 5%;
}

.fas-three {
  color: #EF8172;
  font-size: 400%;
  margin-bottom: 1rem;
}

.fas-three:hover {
  color: #FF4C68;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonials Section */

#testimonials {
  background-color: #EF8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */

#press {
  padding-bottom: 3%;
  background-color: #EF8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px 20px;
}

/* Pricing Secion */

#pricing {
  padding:100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.dog-race {
  font-weight: 900;
}

/* CTA Secion */

#cta .container-fluid {
  padding: 4% 15%;
}

.download-button-cta {
  margin: 2% 3% 1%;
}

/* Footer Section */

#footer .container-fluid {
  padding: 7% 15% 1%;
}

.table-bottom {
  margin: auto;
}

.fas-bottom {
  color: black;
  padding: 0 10px 20px;
}

.copyright-para {
  font-size: 1rem;
}
